# Ignore Everything
/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
**Cache
**WebStorage

# Except These
!.gitignore
!MacOS/
MacOS/Slack/*
!MacOS/Slack/local-settings.json
!MacOS/Slack/Preferences
!Linux/
Linux/Docker Desktop/
Linux/nvim/autoload/plug.vim.old
Linux/BraveSoftware/
Linux/borg/
Linux/session/
Linux/vlc/
Linux/haruna/watch-later/
Linux/obs-studio/logs/
Linux/obsidian/*
!Linux/obsidian/Preferences
Linux/kioslaverc
Linux/kcalcrc
Linux/pavucontrol.ini
Linux/arkrc
Linux/okularrc
Linux/breezerc
Linux/Slack/*
!Linux/Slack/local-settings.json
!Linux/Slack/Preferences
!README.md
Linux/Trolltech.conf
Linux/gtk-3.0/colors.css
Linux/gtk-4.0/colors.css
Linux/gtkrc
Linux/gtkrc-2.0
Linux/kconf_updaterc
Linux/kde.org/UserFeedback.org.kde.plasmashell.conf
Linux/kde.org/elisa.conf
Linux/kdeglobals
Linux/kglobalshortcutsrc
Linux/kwinoutputconfig.json
Linux/plasma-org.kde.plasma.desktop-appletsrc
Linux/zsh/.zcompdump

# Ignore Plugged Inside Linux and Mac Directories
MacOS/nvim/autoload/plugged/*
Linux/nvim/autoload/plugged/*

# Ignore KDECONNECT
Linux/kdeconnect/
