# Ignore Everything
*

# Allow Directory Traversal
!Linux/
!MacOS/
!systemd/
!plasma-workspace/
!autostart/

# Ignore all files following the pattern
**/.DS_Store
**.log
**Cache
**WebStorage

# Except These Files
!.gitignore
!README.md

# Whitelist SystemD
!systemd/**

# Whitelist Plasma
!plasma-workspace/**

# Whitelist Autostart
!autostart/**

# Whitelist MacOS
!MacOS/**
MacOS/nvim/autoload/plugged/

# Whitelist Obsidian
!Linux/obsidian/
!Linux/obsidian/Preferences

# Whitelist Audacious
!Linux/audacious/
!Linux/audacious/config

# Whitelist Bat
!Linux/bat/
!Linux/bat/config

# Whitelist Discord
!Linux/discord/
!Linux/discord/settings.json

# Whitelist EasyEffects
!Linux/easyeffects/
!Linux/easyeffects/db/
!Linux/easyeffects/db/easyeffectsrc
!Linux/easyeffects/db/equalizerrc

# Whitelist GH
!Linux/gh/
!Linux/gh/config.yml

# Whitelist Ghostyy
!Linux/ghostty/
!Linux/ghostty/config

# Whitelist LosslessCut
!Linux/LosslessCut/
!Linux/LosslessCut/config.json

# Whitelist Neovim
!Linux/nvim/
!Linux/nvim/**
Linux/nvim/autoload/plugged/

# Whitelist OBS
!Linux/obs-studio/
!Linux/obs-studio/basic/
!Linux/obs-studio/basic/scenes/
!Linux/obs-studio/basic/scenes/Untitled.json
!Linux/obs-studio/basic/profiles/
!Linux/obs-studio/basic/profiles/Untitled
!Linux/obs-studio/basic/profiles/Untitled/basic.ini

# Whitelist Pika Backup
!Linux/pika-backup/
!Linux/pika-backup/backup.json

# Whitelist Yay
!Linux/yay/
!Linux/yay/config.json

# Whitelist ZSH
!Linux/zsh/
!Linux/zsh/**
