[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=fish /home/jordan/Scripts/set_screens.fish
OnlyShowIn=LXDE
