[Desktop Entry]
Categories=Office;
Comment=Obsidian
Exec=/bin/zsh -c "sleep 2 && /usr/bin/obsidian"
Icon=obsidian
MimeType=x-scheme-handler/obsidian;
Name=Obsidian
StartupWMClass=obsidian
Terminal=false
Type=Application
