RANDOMSCRIPTS="$HOME/github_repos/Random-Scripts"
#
# Alias cat to bat
alias cat="/usr/bin/bat -fn --theme 'Solarized (dark)'"

# Activate Virtual Environment
alias bactive="source $HOME/base/bin/activate"
alias ractive="source $HOME/bitbucket_repos/reflex_etl/venv/bin/activate"

# Start All Programs
alias launch="/home/jordan/autostart.sh"
# Run previous command as sudo
# alias pls="sudo !!"
function pls () {
    COMMAND=$(fc -l | tail -n 1 | awk '{print $2}')
    FLAGS=$(fc -l | tail -n 1 | awk '{print $3}')
    ARGUMENTS=$(fc -l | tail -n 1 | awk '{print $4}')
    sudo $COMMAND $FLAGS $ARGUMENTS
}

# Arduino-cli aliases
alias an='arduino-cli sketch new'

# Manage OpenVPN
alias vpna="cat $XDG_CONFIG_HOME/zsh/.aliases | grep -A 6 'Manage OpenVPN'"
alias vpn='openvpn3 session-start --config /etc/openvpn/reflex_vpn.ovpn'
alias stats='openvpn3 session-stats --config /etc/openvpn/reflex_vpn.ovpn'
alias list='openvpn3 sessions-list'
alias end='openvpn3 session-manage --config /etc/openvpn/reflex_vpn.ovpn --disconnect'
alias stopov3="openvpn3 session-manage --session-path $1 --disconnect"

# Manage ExpressVPN
alias expressa="cat $XDG_CONFIG_HOME/zsh/.aliases | grep -A 5 'Manage ExpressVPN'"
alias startexpress='sudo systemctl start expressvpn'
alias connectexpress='expressvpn connect "USA - Phoenix"'
alias stopexpress='expressvpn disconnect && sudo systemctl stop expressvpn'
alias statsexpress='sudo systemctl status expressvpn'

# Update System
alias update='yay -Syu && yay -Fy'
alias updatekeyrings='sudo pacman -Sy archlinux-keyring && sudo pacman -Sy endeavouros-keyring'

# Logout command
alias lo="openvpn3 session-manage --config /etc/openvpn/reflex_vpn.ovpn --disconnect && qdbus org.kde.LogoutPrompt /LogoutPrompt promptLogout"

# Restart command
alias rb="openvpn3 session-manage --config /etc/openvpn/reflex_vpn.ovpn --disconnect && qdbus org.kde.LogoutPrompt /LogoutPrompt promptReboot"

# Poweroff command
alias po="openvpn3 session-manage --config /etc/openvpn/reflex_vpn.ovpn --disconnect && qdbus org.kde.LogoutPrompt /LogoutPrompt promptShutDown"

# Start Postgres Server
alias postgres='/usr/local/opt/postgresql@14/bin/postgres -D /usr/local/var/postgresql@14'
alias localpsql='psql -h localhost -p 5432 -d postgres -U postgres'

# Alias history command to show time next to command
alias history='history -i'

# Alias to clear terminal
function cl() {
    if [ $(date +'%m') -eq '12' ]; then
        python3 "$RANDOMSCRIPTS/clear_screen_snowfall.py"
    else
        bash "$RANDOMSCRIPTS/generate_random.sh"
    fi
}

# Alias bat to bat-asus-battery
alias bat='bat-asus-battery'

# Refresh zsh session
alias ref="source $XDG_CONFIG_HOME/zsh/.zshrc"

# Youtube-dl command
alias song='youtube-dl -f bestvideo+bestaudio -o "%(title)s.%(ext)s"'

# Bind nvim to v
function v() {
    if [ -z "$1" ]; then
        /usr/bin/nvim .
    else
        /usr/bin/nvim "$1"
    fi
}

# Open nvim straight to sql
alias vs='/usr/bin/nvim -c :DBUI'

# Work on Python file
alias p='/usr/bin/nvim $HOME/bitbucket_repos/jordanw/Python/ -c '\'':execute "normal jjjj" | :execute "normal ma"'\'

# Modify MacOS zshrc file
alias zsh="/usr/bin/nvim $XDG_CONFIG_HOME/zsh/.zshrc"

# Run ssh in wezterm
alias s='wezterm cli spawn ssh'
alias ss='wezterm cli spawn ssh subpoena-prod'
alias s1='wezterm cli spawn ssh etl-prod01'
alias s2='wezterm cli spawn ssh etl-prod02'
alias s3='wezterm cli spawn ssh etl-prod03'
alias sc='wezterm cli spawn ssh -Y etl-prod01 "cat ~/.vim/clip.txt" | xsel --clipboard --input'
alias sql='wezterm cli spawn ssh redshift-bastion'
alias sa='wezterm cli spawn ssh etl-autoload'

# Show image in terminal
alias show='wezterm imgcat'

# Always mkdir creating parent directories if not exists and run verbose
alias mkd='mkdir -pv'

# Add verbose and interactive options to potentially destructive commands
alias cp='cp -v'
alias cpd='cp -rv'
alias mv='mv -v'
alias rm='rm -v'
alias rmd='/bin/rm -rv'

# Alias to ls command
alias ls='lsd -alhr --group-directories-first'

# Alias for ping command to only run 3 times
alias ping='ping -c 3'

# Alias manpages to tldr
alias man='tldr'

# Change directory shortcuts
alias n='cdi'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Git commands
alias create="bash $RANDOMSCRIPTS/create_git_repo.sh" # create git repo
alias delete="bash $RANDOMSCRIPTS/delete_git_repo.sh" # delete git repo
alias ga='git add' # choose files to add to git staging area
alias gaa='git add .' # add all files to git staging area
alias gbl='git branch -a' # list branches of git repo
alias gbd='git branch -D' # delete specified branch of git repo
alias gc='git commit' # write a longer message with a new git commit
alias gca='git commit --amend -m' # ammend the message of a previous git commit
alias gcaf='git commit --amend' # choose a new file to add to previous git commit
alias gcl='git clean -df' # remove all untracked git files and directories
alias gclo='git clone' # clone git repo
alias gcm='git commit -m' # include a one line message with new git commit
alias gcor='git checkout -' # checkout most recently checked out git branch
alias gcp='git cherry-pick' # insert git commit hash to move to a new branch
alias gd='git difftool --tool=nvimdiff' # view diffs of unstaged git files
alias gds='git difftool --tool=nvimdiff --staged' # view git diffs of staged files
alias gita="cat $XDG_CONFIG_HOME/zsh/.aliases | grep -iw git" # show all git aliases
alias gl='git log' # show a log of previous git commits
alias glo='git log --oneline' # show a short log of previous git commits
alias gm='git merge' # merge named git branch to current git branch
alias gp="bash $RANDOMSCRIPTS/pull_all_git_repos.sh" # Pull all git repos simultaneously
alias gpull='git pull' # equalizes local and remote git repo
alias gpush='git push' # push commits to from local to remote git repo
alias gr='git rebase' # puts feature changes on top of the main branch commits.
alias grh='git reset --hard @{u}' # roll all tracked files back to state of upstream(useful for main)
alias grm='git reset' # insert git commit hash to undo commit but keep changes and remove from staging
alias grs='git reset --soft' # insert git commit hash to undo commit but keep changes in staging
alias gs='git status' # show a shorter status of a git directory
alias gsc='git switch' # choose a different git branch to switch to
alias gsl='git status' # show the status of a git directory
alias gsn='git switch -c' # create and instantly switch to new git branch
alias gss='git status -s' # show a shorter status of a git directory
alias gst='git stash' # temporarily stash git changes
alias gsta='git stash apply' # re-apply stashed git changes
alias gu='git restore --staged' # unstage a staged git file
alias gw='git when' # see when the last pull or fetch was made(custom git alias)

## Function Alias to extract zipped files
function ex () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.tar.xz)    tar xJf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}
