!! Colorscheme

! special
!!*foreground: #00cc00

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

!! URxvt Appearance
URxvt*transparent: true
URxvt*shading: 30
URxvt.font: xft:FantasqueSansMono-Regular:size=14
URxvt*background: rgba:0000/0000/0200/c800
URxvt.boldFont: xft:FantasqueSansMono-Regular:size=14
URxvt.italicFont: xft:FantasqueSansMono-Regular:size=14
URxvt.boldItalicfont: xft:FantasqueSansMono-Regular:size=14
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2000
URxvt.scrollBar: false
URxvt.urgentOnBell: false
URxvt*depth: 32
URxvt.iso14755: false
